/*  styles.css */
body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: center
}

.title {
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 32px;
}

div {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

p {
    color: black;
    font-family: sans-serif;
}
ul {
    text-align: center;
    list-style-type:none;
    padding: 0;
}

a {
    color:darkblue;
    text-decoration: none;
}

a:hover {
    color: cadetblue;
    text-decoration: wavy;
}

li {
    color: black;
    font-family: sans-serif;
    margin-right: 10px;
}

img {
    height: auto;
    width: 50%;
    display: block;
    margin: auto;
}